* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f1f1f;
  color: #ffffff;
  gap: 1rem;
}

main {
  width: 300px;
}

.score-container {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  width: 100%;
}

.score-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-selected {
  width: 75px;
}

#computer {
  transform: scaleX(-1);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.option-img {
  width: 75px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.option-img:hover {
  transform: scale(1.1);
}

.result-container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  width: 50%;
  margin: 10px;
  border-color: #5cf;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  background-color: #1f1f1f;
  color: #ffffff;
}

.btn:hover {
  background-color: #5cf;
  color: #1f1f1f;
}

.option-play {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px);}
}